layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="horizontal" {
      pane split_direction="vertical" {
        size "80%"
        pane command="nvim"{
          name "nvim"
          size "80%"
        }
        pane {
          name "zsh"
          size "20%"
        }
      }
      pane {
        name "agent"
        size "20%"
      }
    }
    pane size=1 borderless=true {
        plugin location="zellij:status-bar"
    }
}

