layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane {
      pane {
        command "nvim"
        size "80%"
      }
      pane split_direction="vertical" {
        size "20%"
        pane {
          size "75%"
        }
        pane {
          command "htop"
          size "25%"
          borderless true
        }
      }
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
